.container {
  margin-top: 3rem;
}

.search_result {
  margin: 3rem 0 3rem 0;
}

.head_tr {
  background-color: #007bff;
  color: #fff;
}

.date-end {
  height: 3rem;
  background-color: #fff!important;
}

table {
  margin-top: 3rem;
}

.post_code_input {
  display: flex;
  align-items: center;
}

.post_code_input > span {
  margin: 0 1rem 0 1rem;
}

.search {
  margin-left: 2rem;
}

input {
  display: block;
  padding: 0.4rem;
  width: 15%;
}

.error_message {
  color: red;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 33%;
}