.container {
  margin-top: 3rem;
}

.search_result {
  margin: 3rem 0 3rem 0;
}

.head_tr {
  background-color: #007bff;
  color: #fff;
}

.date-end {
  height: 3rem;
  background-color: #fff!important;
}

table {
  margin-top: 3rem;
}

.post_code_input {
  display: flex;
  align-items: center;
}

.post_code_input > span {
  margin: 0 1rem 0 1rem;
}

.search {
  margin-left: 2rem;
}

input {
  display: block;
  padding: 0.4rem;
  width: 15%;
}

.error_message {
  color: red;
  margin-top: 0.5rem;
}

td {
  text-align: center;
  vertical-align: middle;
  width: 33%;
}

@media screen and (max-width: 959px) {
  td {
    width: 30%;
  }

	td:first-child{
    width: 40%;
  }

  input {
    width: 20%;
  }

  .city_text {
    text-align: center;
    margin: 0;
  }

  .post_code_input {
    justify-content: center;
  }
}